<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("templates/head"); -%>
    <title>Home - Dashboard</title>
</head>
<body>
    <%- include('templates/navbar'); -%>
    <img src="/images/rgu_logo.jpg" alt="RGU Logo" width="100">
    <h1>Home</h1>

    <script src="/javascript/graphs.js"></script>
    <%- include('templates/body_js'); -%>
</body>
</html>