<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("templates/head"); -%>
    <title>Home - Dashboard</title>
</head>
<body>
    <%- include('templates/navbar'); -%>
    <section id="content">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <canvas id="startupsCreatedGraph"></canvas>
                </div>
                <div class="col">
                    <!-- Graph would go here-->
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <canvas id="fullTimeJobsGraph"></canvas>
                </div>
                <div class="col">
                    <!-- Graph would go here-->
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <canvas id="fullTimeEquivJobsGraph"></canvas>
                </div>
                <div class="col">
                    <!-- Graph would go here-->
                </div>
            </div>
        </div>
    </section>
</main>

    <script src="/javascript/graphs.js"></script>
    <%- include('templates/body_js'); -%>
</body>
</html>