<!doctype html>
<html>
<head>
<meta charset="UTF-8">
	<title>TESTING</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/rgu.css">
	
	 <style>
    .fishes
    {
      position:absolute;
      top: 50px;
      z-index: 1;
	  padding-top: 100px;
    }
		 
		 section { 
  display: block;
  padding-left: 650px;
  padding-top: 100px;
}
		 
  </style>
	
</head>

<body>
<header>
	
	 <div class="header">
            <img id="RGUHeader" src="images/rguheader.png" alt="RGU">
        </div>
	
	</header>
	
	<img src="images/andrew-shelley-3Fwew-yifFA-unsplash.jpg" alt="Climber" width="458" height="647" class="fishes" >

	<section>
    <h1>Login</h1>
    <p>Note: This is a temporary form I created to test my login functionality.</p>
    
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
    </form>
	</section>
	
	<div class="tri"><img src="images/untitled-3.gif" alt="Climber"</div>
	
</body>
</html>
