<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("templates/head"); -%>
    <title>Web Page - Dashboard</title>
</head>
<body>
    <!-- Content Here -->

    <%- include('templates/body_js'); -%>
</body>
</html>